$nu-gray-10: #f4f4f4; /* Lightest Gray */
$nu-gray-20: #e0e0e0; /* Lighter Gray */
$nu-gray-30: #c6c6c6; /* Light Gray */
$nu-gray-40: #a8a8a8; /* Medium Light Gray */
$nu-gray-50: #8d8d8d; /* Medium Gray */
$nu-gray-60: #3c3c3c; /* Medium Dark Gray */
$nu-gray-70: #303030; /* Dark Gray */
$nu-gray-80: #242424; /* Darker Gray */
$nu-gray-90: #181818; /* Darkest Gray */
$nu-gray-100: #0c0c0c; /* Almost Black */
/* Orion Palette */
$nu-orion-10: #EDE0FF; /* Lightest Orion */
$nu-orion-20: #DBC0FB; /* Lighter Orion */
$nu-orion-30: #B780F7; /* Light Orion */
$nu-orion-40: #8240F3; /* Medium Light Orion */
$nu-orion-50: #7017FF; /* Medium Orion */
$nu-orion-60: #6215E0; /* Medium Dark Orion */
$nu-orion-70: #5412C0; /* Dark Orion */
$nu-orion-80: #380C80; /* Darker Orion */
$nu-orion-90: #1C0640; /* Darkest Orion */
$nu-orion-100: #0E0320; /* Almost Black Orion */
/* Blue Palette */
$nu-blue-10: #E2E8FF; /* Lightest Blue */
$nu-blue-20: #C5D0FF; /* Lighter Blue */
$nu-blue-30: #8BA0FF; /* Light Blue */
$nu-blue-40: #5171FF; /* Medium Light Blue */
$nu-blue-50: #1741FF; /* Medium Blue */
$nu-blue-60: #143AE0; /* Medium Dark Blue */
$nu-blue-70: #1131Bf; /* Dark Blue */
$nu-blue-80: #0B2180; /* Darker Blue */
$nu-blue-90: #061040; /* Darkest Blue */
$nu-blue-100: #030921; /* Almost Black Blue */
/* Cyan Palette */
$nu-cyan-10: #e5f6ff; /* Lightest Cyan */
$nu-cyan-20: #bae6ff; /* Lighter Cyan */
$nu-cyan-30: #82cfff; /* Light Cyan */
$nu-cyan-40: #33b1ff; /* Medium Light Cyan */
$nu-cyan-50: #1192e8; /* Medium Cyan */
$nu-cyan-60: #0072c3; /* Medium Dark Cyan */
$nu-cyan-70: #00539a; /* Dark Cyan */
$nu-cyan-80: #003a6d; /* Darker Cyan */
$nu-cyan-90: #012749; /* Darkest Cyan */
$nu-cyan-100: #061727; /* Almost Black Cyan */
/* Green Palette */
$nu-green-10: #defbe6; /* Lightest Green */
$nu-green-20: #a7f0ba; /* Lighter Green */
$nu-green-30: #6fdc8c; /* Light Green */
$nu-green-40: #42be65; /* Medium Light Green */
$nu-green-50: #24a148; /* Medium Green */
$nu-green-60: #198038; /* Medium Dark Green */
$nu-green-70: #0e6027; /* Dark Green */
$nu-green-80: #044317; /* Darker Green */
$nu-green-90: #022d0d; /* Darkest Green */
$nu-green-100: #071908; /* Almost Black Green */
/* Teal Palette */
$nu-teal-10: #d9fbfb; /* Lightest Teal */
$nu-teal-20: #9ef0f0; /* Lighter Teal */
$nu-teal-30: #3ddbd9; /* Light Teal */
$nu-teal-40: #08bdba; /* Medium Light Teal */
$nu-teal-50: #009d9a; /* Medium Teal */
$nu-teal-60: #007d79; /* Medium Dark Teal */
$nu-teal-70: #005d5d; /* Dark Teal */
$nu-teal-80: #004144; /* Darker Teal */
$nu-teal-90: #022b30; /* Darkest Teal */
$nu-teal-100: #081a1c; /* Almost Black Teal */
/* Orange Palette */
$nu-orange-10: #fff2e8; /* Lightest Orange */
$nu-orange-20: #ffd9be; /* Lighter Orange */
$nu-orange-30: #ffb784; /* Light Orange */
$nu-orange-40: #ff832b; /* Medium Light Orange */
$nu-orange-50: #eb6200; /* Medium Orange */
$nu-orange-60: #ba4e00; /* Medium Dark Orange */
$nu-orange-70: #8a3800; /* Dark Orange */
$nu-orange-80: #5e2900; /* Darker Orange */
$nu-orange-90: #3e1a00; /* Darkest Orange */
$nu-orange-100: #231000; /* Almost Black Orange */
/* Magenta Palette */
$nu-magenta-10: #fff0f7; /* Lightest Magenta */
$nu-magenta-20: #ffd6e8; /* Lighter Magenta */
$nu-magenta-30: #ffafd2; /* Light Magenta */
$nu-magenta-40: #ff7eb6; /* Medium Light Magenta */
$nu-magenta-50: #ee5396; /* Medium Magenta */
$nu-magenta-60: #d02670; /* Medium Dark Magenta */
$nu-magenta-70: #9f1853; /* Dark Magenta */
$nu-magenta-80: #740937; /* Darker Magenta */
$nu-magenta-90: #510224; /* Darkest Magenta */
$nu-magenta-100: #2a0a18; /* Almost Black Magenta */
/* Yellow Palette */
$nu-yellow-10: #fcf4d6; /* Lightest Yellow */
$nu-yellow-20: #fddc69; /* Lighter Yellow */
$nu-yellow-30: #f1c21b; /* Light Yellow */
$nu-yellow-40: #d2a106; /* Medium Light Yellow */
$nu-yellow-50: #b28600; /* Medium Yellow */
$nu-yellow-60: #8e6a00; /* Medium Dark Yellow */
$nu-yellow-70: #684e00; /* Dark Yellow */
$nu-yellow-80: #483700; /* Darker Yellow */
$nu-yellow-90: #302400; /* Darkest Yellow */
$nu-yellow-100: #1c1500; /* Almost Black Yellow */
/* Red Palette */
$nu-red-10: #fff1f1; /* Lightest Red */
$nu-red-20: #ffd7d9; /* Lighter Red */
$nu-red-30: #ffb3b8; /* Light Red */
$nu-red-40: #ff8389; /* Medium Light Red */
$nu-red-50: #fa4d56; /* Medium Red */
$nu-red-60: #da1e28; /* Medium Dark Red */
$nu-red-70: #a2191f; /* Dark Red */
$nu-red-80: #750e13; /* Darker Red */
$nu-red-90: #520408; /* Darkest Red */
$nu-red-100: #2d0709; /* Almost Black Red */
/* Black and White */

$nu-white: #ffffff; /* White */
$nu-black: #000000; /* Black */



